.toggleButton {
    -fx-font-family: "SansSerif";
    -fx-font-size: 20px;
    -fx-background-color: #b82b35;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-font-weight: bold;
}

.toggleButton:selected {
    -fx-background-color: #E6939B;
}